.app-logo {
  width: 100px; 
  height: auto;
  margin-bottom: 20px;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif; 
  background-color: #e6f7ff;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  border: 5px solid #358e38;
}

button {
  background-color: #037c1d;
  color: white;
  border: none;
  padding: 12px 25px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #fb8c00;
  transform: scale(1.05);
}

/* Bouton Home personnalisé */
.button-validate {
  background-color: #f0f0f0; /* Couleur de fond grise */
  border: 2px solid #ccc; /* Bordure grise */
  padding: 8px 15px; /* Ajuste le padding selon tes préférences */
  border-radius: 5px; /* Bords arrondis */
  cursor: pointer; /* Curseur en mode clic */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
  transition: box-shadow 0.3s ease, transform 0.2s ease; /* Transition pour l'ombre et le survol */
  display: flex; /* Utilise flexbox pour centrer l'image */
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  height: 30px; /* Spécifie une hauteur fixe */
  width: 90%; /* Prend toute la largeur du conteneur */
  max-width: 200px; /* Limite la largeur du bouton si nécessaire */
  margin: 0 auto; /* Centre le bouton horizontalement */
  margin-bottom: 5px;
}
  


.button-validate img {
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  pointer-events: none; /* Désactive les événements sur l'image elle-même */
}

.button-validate:hover img {
  transform: scale(1.1);
}

.button-home {
  background-color: #f0f0f0; /* Couleur de fond grise */
  border: 2px solid #ccc; /* Bordure grise */
  padding: 8px 15px; /* Ajuste le padding selon tes préférences */
  border-radius: 5px; /* Bords arrondis */
  cursor: pointer; /* Curseur en mode clic */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
  transition: box-shadow 0.3s ease, transform 0.2s ease; /* Transition pour l'ombre et le survol */
  display: flex; /* Utilise flexbox pour centrer l'image */
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  height: 30px; /* Spécifie une hauteur fixe */
  width: 90%; /* Prend toute la largeur du conteneur */
  max-width: 200px; /* Limite la largeur du bouton si nécessaire */
  margin: 0 auto; /* Centre le bouton horizontalement */
}

.button-home img {
  display: block;
  width: 25px;
  height: 25px;
  margin: 0 5;
  pointer-events: none; /* Désactive les événements sur l'image elle-même */
}

.button-home:hover img {
  transform: scale(1.1);
}

h1 {
  color: #6e6f71;
  font-size: 16px;
}

h2 {
  color: #6e6f71;
  font-size: 12px;
}

.question {
  font-size: 26px;
  color: blue;
  font-weight: bold;
}

.score {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
  color: #4CAF50;
}

/* Images dans le conteneur */
.container img {
  max-width: 100px;
  margin: 10px 0;
}

select {
  margin-left: 10px;
}
